@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "pacific20";

}
header{
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px 0;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}
nav a:hover{
    background-color: #000;
    color: #fff;
}

.encabezado-img{
    background-image: url(Captura\ de\ pantalla\ 2023-05-01\ a\ las\ 4.09.28.png);
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 1450px;
}

.encabezado-img p{
    font-size: 30px;

}
.encabezado-img h1{
    font-size: 70px;
    padding: 20px 0;
}
.boton1{
    width: 49% !important;
    height: 500px;
    background: transparent !important;
    margin: 0;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border: transparent;
}
.boton2{
    width: 49% !important;
    height: 500px;
    background: transparent !important;
    margin: 0;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border: transparent;
}
.sobre{
    font-size: 20px;
    font-family: "Roboto:wght@100" ;
    margin-right: 20px;
    margin: 10px;


}
.toldo{
    margin: 10px;
    width: 500px; 
    height: 300px;
    float: right;
    border-radius: 30px;


}
.interior{
    width: 500px;
    height: 300px;
    float: left;
    margin: 10px;
    border-radius: 30px;
} 
.wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  .tabla{
    margin-top: 100px;
  }
  .column-2.carta{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
  
  .plato-carta{
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
  }
  
  .img-plato-carta{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
  }
  
  .img-plato-carta img{
    max-width: 100px;
    max-height: 75px;
  }
  
  .title-plato-carta{
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
  }
  
  .precio-plato-carta{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
  }

@media (max-width:500px) {

    .encabezado-img{
        width: 550px;
        height: 200px;
        background-image: url(Captura\ de\ pantalla\ 2023-05-09\ a\ las\ 20.34.08.png);
    }
    .encabezado-img h1{
        font-size: 30px;
    }
    .encabezado-img p{
        font-size: 15px;
    }
    .boton1{
        width: 600px;
        height: 500px;
        display: flex;
        margin-left: 100px;

    }
    .boton2{
        width: 10000px;
        height: 500px;
        display: flex;
        margin-left: 100px;

    }
}
@media (max-width:680px){
    .column-2.carta{
      grid-template-columns: repeat(1,1fr);
    }
  }